.portfolio_main_section {
  // padding-top: 94px;
  // padding-bottom: 94px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  // padding-top: 60px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    padding-top: 0;
  }
}

.portfolio_list .btn-filtr {
  margin-right: 8px;
  margin-bottom: 15px;
}

.button {
  color: #212121;
  background-color: var(--btn-port-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border-style: none;
  border: 2px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--btn-port-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
