:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #ffffff;
  --btn-port-color: #f5f4fa;
  --header-tel-color: #757575;
  --header-text-color: #212121;
}
